%h2 Hacker News
#menu.span-6
  %ul
#content-wrapper
  #nav
    %a#a-link{href:'#'} Link
    %a#a-comments{href:'#'} Comments
  #content
    %iframe#link{name:'link',src:'about:blank'}
    %iframe#comments{name:'comments',src:'about:blank'}
    %noscript
      %h1 Please enable JavaScript.
